<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>1. Hello World</h1>

    <div id="app">
        {{message}}
    </div>
    <h1>2. If Condition</h1>

    <div id="app-2">
        <span v-if="seen">
            Seen is now true
        </span>
    </div>
    <h1>3. Looping For</h1>
    <div id="app-3">
        <ol>
            <li v-for="item in todos">
                {{ item.text }}
            </li>
        </ol>
    </div>
    <h1>4. On Click Event and Method</h1>
    <div id="app4">
        <p>{{message}}</p>
        <button v-on:click="reverseIt">Reverse It!!</button>
    </div>
    <h1>5. V-Model</h1>
    <div id="app5">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>
    <h1>6. Composing With Components</h1>
    <div id="app6">
        <ol>
            <to-do></to-do>
        </ol>
    </div>
    <h1>7. Create Components With Props</h1>
    <div id="app7">
        <ol>
            <to-do1 v-for="item in groceryList" v-bind:todo1="item" v-bind:key="item.id">

            </to-do1>
        </ol>
    </div>
    <h1>8. Binding Attribute</h1>
    <div id="app8">
        <a v-bind:href="link">Google</a>
        <p v-html="blogLink">Blog</p>
    </div>
    <h1>9. Counter</h1>
    <div id="app9">
        <p>{{Counter}}</p>
        <button v-on:click="Counter++">Up</button>
        <button v-on:click="Counter--">Down</button>
    </div>
    <h1>10.Catching Events</h1>
    <div id="app10">
        <p v-on:mousemove="updateCoordinates">Coordinates:{{x}}, {{y}}</p>
    </div>
    <h1>11.Modifier</h1>
    <div id="app11">
        <!-- Stop provides us the functions not to work in designated part -->
        <p v-on:mousemove="updateCoordinates">Coordinates:{{x}}, {{y}} <span v-on:mousemove.stop>Secret Part</span></p>
    </div>
    <h1>12.Keyboard Events</h1>
    <div id="app12">
        <p v-on:mousemove="updateCoordinates">Coordinates:{{x}}, {{y}} <span v-on:mousemove.stop>Secret Part</span></p>
        <input type="text" v-on:keyup.enter.space="showAlert">
    </div>
    <script src="vue.js"></script>
</body>

</html>